<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Practice</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css') }}"/>

</head>
<body>
    <header>
        <h1 class="mx-4 my-3">Welcome Name!!!</h1>
        <div>
            <button class="mx-4 my-3 btn btn-primary">Dashboard</button>
            <button class="mx-4 my-3 btn btn-info">Logout</button>
        </div>
    </header>
    <main class="bg-dark text-light">
        <h2 class="pt-3 mx-4 text-primary">Add a New Recipe</h2>
        <form action="/new" method="POST"> 
            <div class="row">
                <div class="col mx-5">
                    <div class="mb-3">
                        <label class="form-label" for="recipeName">Name:</label>
                        <input name="recipeName" id="recipeName" class="form-control" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="recipeDescription">Description:</label>
                        <textarea class="form-control" name="recipeDescription" id="recipeDescription"></textarea>
                    </div>
                    <div class="mb-5">
                        <label class="form-label" for="recipeInstructions">Instructions:</label>
                        <textarea class="form-control" name="recipeInstructions" id="recipeInstructions"></textarea>
                    </div>
                </div>
                <div class="col mx-5">
                    <div class="mb-3">
                        <label class="form-label" for="recipeDate">Date Made:</label>
                        <input name="recipeDate" id="recipeDate" class="form-control" type="date">
                    </div>
                    <div>
                        <label class="form-label" for="recipe30Minutes">Under 30 Minutes?:</label>
                        <div>
                            <input class="mx-3" type="radio" name="recipe30Minutes" value="No"/>
                            <label for="">No<label>
                            <input class="mx-3" type="radio" name="recipe30Minutes" value="Yes"/>
                            <label for="">Yes</label>
                        </div>
                    </div>
                    <button type="submit" value="create answer" class="mt-3 btn btn-primary">Add Recipe</button>
                </div>
        </form>
    </main>    
</body>
</html>